[
  {cluster_formation,
    [
      {peer_discovery_backend, classic_config},
      {classic_config,
        [
	  {nodes, ["rabbit@rabbitmq-1", "rabbit@rabbitmq-2", "rabbit@rabbitmq-3"]}
	]
      }
    ]
  },
  {rabbit,
    [
      {cluster_partition_handling, pause_minority},
      {tcp_listen_options,
        [
          {backlog, 128},
          {nodelay, true},
          {linger, {true, 0}},
          {exit_on_close, false}
        ]},
      {tcp_listeners, [5672]},
      {log, [{console, [{enabled, true}, {level, debug}]}]},
      {loopback_users, []},
      {default_user, <<"admin">>},
      {default_pass, <<"admin">>}
    ]},
  {kernel, []},
  {rabbitmq_management, [{listener, [{port, 15672}]}]}
].
% EOF
